.Hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  line-height: 1.4;
}

.Hero__title {
  font-size: 3rem;
}

.Hero__subtitle {
  font-size: 1.9rem;
}

.Hero__cta {
  margin-top: 3rem;

  background: none;
  background-color: white;
  outline: none;
  border: none;

  font-size: 1rem;

  padding: 0.8rem 1.3rem;

  cursor: pointer;

  transition: all 0.1s ease-out;
}

.Hero__cta:hover::after {
  content: '->';
  margin-left: 0.5rem;
}

.Hero__cta:hover {
  background-color: rgb(226, 68, 68);
  color: white;
}
