@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,700;1,400&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Ubuntu Mono', monospace;
  background-repeat: no-repeat;
  background-position: 25%;
  background-size: cover;

  overflow: auto;
}
